# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/.env
/.env.backup
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant

# Angular
/dist
/tmp
/out-tsc
/bazel-out
.angular/cache
.angular/dist
node_modules/
npm-debug.log
yarn-error.log
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Sistema operativo
.DS_Store
Thumbs.db

# Proyecto
/memory-bank/ 